<section>
    <div>
        <h1>Ecommerce Inmobiliario</h1>
    </div>
    <div class="buttons">
        <button id="buttonSessionOn">Iniciar sesion</button>
        <button id="buttonRegister">Registrarse</button>
        <button id="buttonShow">Ver catalogo</button>
    </div>
</section>

<script src="/js/index.js" defer></script>