<section>
    <div><h2>Bienvenido</h2></div>
    <div>
        <form id="formLogin">
            <div>
                <label>DNI</label>
                <input type="number" name="dni" placeholder="Ej: 11222333">
            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="password">
            </div>
            <div>
                <button id="buttonLogin" type="submit">Iniciar sesion</button>
            </div>
        </form>

        <a href="/">Volver a vista principal</a>
    </div>
</section>

<script src="/js/login.js" defer></script>